body {
    background-image: url(http://www.aljanh.net/data/archive/img/2422793444.jpeg);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#header-img {
    width: 200px;
}

nav {
    width: 100%;
    background-color: DAD5CF;
    padding-left: 30px;
    padding-right: 10px;
}

.logo {
    display: inline-block;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #cccccc;
}